.vendor-header[data-v-8caccb67]{display:flex;align-items:center}.item-checked[data-v-8caccb67]{opacity:.6}.category-separator[data-v-8caccb67]{font-size:.875rem;font-weight:500;color:rgb(var(--v-theme-primary));margin-top:8px}
