.vendor-header[data-v-a33140f9]{display:flex;align-items:center}.item-checked[data-v-a33140f9]{opacity:.6}.category-separator[data-v-a33140f9]{font-size:.875rem;font-weight:500;color:rgb(var(--v-theme-primary));margin-top:8px}
