.vendor-header[data-v-3809a754]{display:flex;align-items:center}.item-checked[data-v-3809a754]{opacity:.6}.category-separator[data-v-3809a754]{font-size:.875rem;font-weight:500;color:rgb(var(--v-theme-primary));margin-top:8px}
