.vendor-header[data-v-0c3c9d1f]{display:flex;align-items:center}.item-checked[data-v-0c3c9d1f]{opacity:.6}.category-separator[data-v-0c3c9d1f]{font-size:.875rem;font-weight:500;color:rgb(var(--v-theme-primary));margin-top:8px}
