.vendor-header[data-v-bb23c114]{display:flex;align-items:center}.item-checked[data-v-bb23c114]{opacity:.6}.category-separator[data-v-bb23c114]{font-size:.875rem;font-weight:500;color:rgb(var(--v-theme-primary));margin-top:8px}
