.vendor-header[data-v-cb0305b1]{display:flex;align-items:center}.item-checked[data-v-cb0305b1]{opacity:.6}.category-separator[data-v-cb0305b1]{font-size:.875rem;font-weight:500;color:rgb(var(--v-theme-primary));margin-top:8px}
